body
{
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #444444;
  font-size: 14pt;
  background-color: #eeeeee;
}
main{
  /*margin: auto;*/
  text-align: center
}
p {
  padding: 0 0 5px 0;
  margin: 0;
}
/*An art view is a cell holding an art piece and information when not expanded*/
@media (min-width: 600px) {
  .art-view {
    display: inline-block;
    background-color: #d7d7d7;
    position: relative;
    padding: 1%;
    width: 42%;
    height: 100px;
    margin: 1%;
    overflow: hidden;
  }
}
@media (max-width: 599px) {
  .art-view {
    display: inline-block;
    background-color: #d7d7d7;
    position: relative;
    padding: 1%;
    width: 80%;
    height: 100px;
    margin: 1%;
    overflow: hidden;
  }
}
.art-view:hover{
  animation-duration: .1s;
  background-color: #8f8f8f;
}
/*An art display is a cell holding an art piece and information when expanded*/
.art-display{
  background-color: #d7d7d7;
  text-align: left;
  position: relative;
  padding: 1%;
  width: 80%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.art-image {
  display: block;
  width: auto;
  max-width:  100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  margin: auto;
  vertical-align: middle;
}
.art-image-display {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin : auto;
}
.art-description{
  text-align: left;
  width : 60%;
  display: inline-block;
  float: right;
}
.art-description-display{
  text-align: left;
  width : auto;
  height: auto;
  display: block;
}
/*this is a class that forces an art-image-display onto its own block*/
.block-force{
  display: block;
  text-align : center;
  padding : 0  0 1% 0;
}

.no-block{
  float: left;
  display : inline-block;
  height: 100px;
  width: 100px;
  text-align : center;
}
